.card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.top-right-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.card-description {
  font-size: 16px;
  color: #c9c9c9;
}

.item-price {
  font-weight: bold;
  font-size: 20px;
  color: rgb(246 184 62);
}