<div class="card bg-dark text-center">
    <button (click)="openModal()" class="top-right-button btn btn-light">
        <i class="bi bi-info-circle-fill"></i>
    </button>

    <img class="card-img" src="{{ getImageLogo() }}" alt="Image de l'article {{ article.name }} de Pacifista">

    <div class="p-3">
        <h2 class="card-title">{{ article.name }}</h2>
        <p class="card-description">{{ article.description }}</p>
    </div>

    <div class="row">
        <div class="col col-12">
            <p class="item-price text-center">
                {{ article.priceWithTax }} €
            </p>
        </div>
        <button class="col col-12 btn btn-success">
            <i class="bi bi-cart-plus-fill"></i>
            Ajouter au panier
        </button>
    </div>
</div>