<div class="shop-container">
    <div class="container">
        <h1>Boutique</h1>
        <p>La boutique officielle de Pacifista pour acheter des avantages uniques et soutenir le serveur Minecraft et son équipe.</p>
        <p>Tous les prix affichés sont en toutes taxes comprises. La TVA est calculée en fonction de vôtre pays actuel précisé dans votre compte.
            Si vous nêtes pas connecté vous visualisez les prix avec la TVA Française (20%).</p>

        <div class="row justify-content-between">
            <div class="col-md-4 pb-3">
                <div class="p-3 bg-dark rounded-3">
                    <h2>Catégories</h2>
                    <p>Veuillez séléctionner votre catégorie</p>
                    <hr class="border-white">

                    <div class="row justify-content-center">
                        <button (click)="dropdownOpen = !dropdownOpen" class="d-flex justify-content-center align-items-center w-50 p-2 d-lg-none btn pacifista-btn-little" type="button" data-bs-toggle="collapse" data-bs-target="#categoryList">
                            <i class="bi bi-chevron-double-{{ dropdownOpen ? 'up' : 'down' }}"></i>
                        </button>
                    </div>
                    <div id="categoryList" class="collapse d-lg-block pt-3">
                        <app-shop-categories
                                (onCategorySelected)="categorySelected = $event"
                        ></app-shop-categories>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <app-shop-articles
                        (onCartAdd)="addArticleToBasket($event)"
                        [categorySelected]="categorySelected"
                ></app-shop-articles>
            </div>
        </div>
    </div>
</div>

<div class="shop-basket-container p-2 bg-dark rounded-start-5">
    <div class="container">
        <app-shop-article-basket [basket]="basket"></app-shop-article-basket>
    </div>
</div>
