<label [for]="id" class="form-label">{{ label }}</label>
<input
        type="number"
        class="form-control"
        [placeholder]="placeholder"
        [(ngModel)]="number"
        [id]="id"
        [value]="number ?? ''"
        min="{{ min ?? '' }}"
        max="{{ max ?? '' }}"
        [required]="required"
        (input)="onInput()"
        [ngClass]="{
                'is-invalid': formSent && inputErrors.length > 0,
                'is-valid': formSent && inputErrors.length === 0
             }"
>
<div *ngFor="let error of inputErrors" class="invalid-feedback">
    {{ error }}
</div>
