@import "../../../pacifista_variables";

nav {
  margin-top: 2%;
}

nav .container-fluid {
  background-color: rgba(10, 10, 10, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

nav a {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  color: white;
}

nav a:hover {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  color: $secondary_color;
}

nav .shop {
  color: rgb(246, 184, 62);
}

nav .current {
  color: $main_color;
}

.admin-btn {
  background-color: #af3232;
  border: 0;
  color: white;
  border-radius: 20px;
  box-shadow: none;
  padding: 7px 25px;
}

.admin-btn:hover {
  background-color: #d03b3b;
  color: white;
}

.admin-btn:active {
  background-color: #8c1818;
  color: white;
}

