<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img ngSrc="assets/img/accueil/pacifista-logo-navbar.webp" [loading]="'lazy'" width="90" height="90" alt="pacifista navbar minecraft logo" class="d-inline-block">
      </a>

      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="/shop">Boutique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wiki">Wiki</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vote">Vote</a>
            </li>

            <a class="nav-link" href="/user" rel="nofollow">
              <button class="btn pacifista-btn">Compte</button>
            </a>
          </ul>
        </div>
      </div>

      <button class="navbar-toggler bg-opacity-25 bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
