<div id="navbar-container-pcfta" class="container fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="assets/img/pacifista-logo.png" width="30" height="30" alt="pacifista logo" class="d-inline-block">
      </a>

      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <a class="nav-link" href="/shop">Boutique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wiki">Wiki</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vote">Vote</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compte">
                <button class="btn account-btn">
                  Compte
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
