<div class="collapse" id="collapseBasket">
    <app-shop-basket-list></app-shop-basket-list>
</div>
<div class="row justify-content-start align-items-center">
    <div class="col">
        <button class="btn pacifista-btn-little text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBasket" aria-expanded="false" aria-controls="collapseBasket">
            <i class="bi bi-cart-plus-fill"></i> Voir le panier
        </button>
    </div>
</div>

<hr>

<div class="row justify-content-between">
    <div class="col-6">
        <a [routerLink]="'checkout'" class="btn btn-success">
            <i class="bi bi-cart-check-fill"></i> Payer
        </a>
    </div>
    <div class="col-6">
        <p>Total panier : <span class="fw-bold price-container">{{ shopService.formatPrice(shopService.countTotalPrice()) }} €</span></p>
        <p>Nombre d'articles : <span class="fw-bold price-container">{{ shopService.totalArticlesInBasket() }}</span></p>
    </div>
</div>
