<div class="container">
  <div *ngIf="news; else notFound">
    <section class="header-news">
      <div class="text-center p-5">
        <h1>News : {{ news.title }}</h1>
        <h3>{{ news.subtitle }}</h3>
        <br/>
        <p>Rédigé par {{ news.originalWriter }} le {{ news.createdAt | date : 'dd/MM/YY - HH:mm' }}</p>
      </div>

      <img ngSrc="{{ news.articleImageUrl }}" [loading]="'lazy'" class="img-fluid" alt="Image illustrative de la news {{ news.name }}">
    </section>

    <section class="pt-5">
      <div [innerHTML]="news.body"></div>
    </section>
  </div>

  <ng-template #notFound>
    <div class="text-center p-5">
      <h1>404</h1>
      <h3>News non trouvée</h3>
      <a class="btn pacifista-btn" href="/news">
        Retourner aux news
      </a>
    </div>
  </ng-template>

</div>
