<div *ngIf="news" class="container">
    <section class="header-news">
        <div class="text-center p-5">
            <h1>News : {{ news.title }}</h1>
            <h3>{{ news.subtitle }}</h3>
            <br/>
            <p>Rédigé par {{ news.originalWriter }} le {{ news.createdAt | date : 'dd/MM/YY - HH:mm' }}</p>
        </div>

        <img src="{{ news.articleImageUrl }}" loading="lazy" class="img-fluid" alt="Illustrative de la news {{ news.name }}">
    </section>

    <section class="pt-5">
        <div [innerHTML]="news.body"></div>
    </section>
</div>
