<section class="news-section p-4">
  <div class="container">
    <h2 class="section-title">
      <span>News</span>
    </h2>
    <h3>Nos 3 news les plus récentes.</h3>

    <div *ngIf="newsList.length > 0; else noNews" class="card-group">
      <div *ngFor="let news of newsList" class="p-2">
        <app-news-card [news]="news"></app-news-card>
      </div>
    </div>
    <ng-template #noNews class="no-news align-content-center text-center">
      <p>Aucune news n'a été rédigée pour l'instant. Revenez plus tard !</p>
    </ng-template>

    <div class="text-center">
      <a *ngIf="totalNews > 3" class="btn pacifista-btn" href="/news">
        Voir les {{ totalNews - 3 }} autres news
      </a>
    </div>
  </div>
</section>
