<div class="container p-4">
    <h1>Actualités Pacifista : toutes les nouveautés de notre serveur Minecraft</h1>
    <h2>Mises à jour, événements & annonces officielles du serveur PvE Pacifista</h2>

    @if (newsList.length > 0) {
        <div class="card-group">
            @for (news of newsList; track news) {
                <div class="p-2">
                    <app-news-card [news]="news"></app-news-card>
                </div>
            }
        </div>
    } @else {
        <div class="no-news align-content-center text-center">
            <p>Aucune news n'a été rédigée pour l'instant. Revenez plus tard !</p>
        </div>
    }

    @if (newsList.length >= totalNews) {
        <div class="text-center">
            <p>Fin de liste</p>
        </div>
    }
</div>
