<div class="container p-4">
  <h1>News</h1>

  <div class="row justify-content-between">
    <div class="col-4">
      <p>
        Voici les news du serveur Minecraft Pacifista.<br/>
        Vous pouvez aussi les retrouver sur notre <a href="https://twitter.com/pacifista-mc"><fa-icon [icon]="twitter"></fa-icon> Twitter</a>.
      </p>
    </div>
    <div class="col-4">
      <h3>
        {{ totalNews }} news au total
      </h3>
    </div>
  </div>

  <div *ngIf="newsList.length > 0; else noNews" class="card-group">
    <div *ngFor="let news of newsList" class="p-2">
      <app-news-card [news]="news"></app-news-card>
    </div>
  </div>
  <ng-template #noNews class="no-news align-content-center text-center">
    <p>Aucune news n'a été rédigée pour l'instant. Revenez plus tard !</p>
  </ng-template>

  <div *ngIf="newsList.length < totalNews; else noMoreNews" class="text-center">
    <button class="btn pacifista-btn" (click)="pageUpNews()">
      <fa-icon *ngIf="loading; else notLoading" [icon]="loadingIcon"></fa-icon>
      <ng-template #notLoading>Charger plus de news</ng-template>
    </button>
  </div>
  <ng-template #noMoreNews>
    <div class="text-center">
      <p>Fin de liste</p>
    </div>
  </ng-template>
</div>
