@import "../../../../../pacifista_variables";

.nav-admin-link {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  color: white;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav-admin-link:hover {
  font-family: 'Outfit', sans-serif;
  font-weight: normal;
  color: $secondary_color;
}

.nav-admin-link span {
  color: gray;
}

.nav-admin-link:hover span {
  color: $secondary_color;
}