<div class="container form-content-div">
    <div class="header">
        <h1>Mot de passe oublié</h1>
    </div>
    <div class="login-form">
        <div class="row g-3">
            <div class="col-md-12">
                <app-input-email
                        [email]="email"
                        [emailErrors]="emailErrors"
                        (emailChange)="email = $event"
                ></app-input-email>
            </div>

            <div class="col-md-4">
                <app-send-button
                        [loading]="loading"
                        [label]="'Envoi de la demande'"
                        (onClick)="sendRequestReset()"
                ></app-send-button>
            </div>
            <div class="col-md-3 align-self-center">
                <a [routerLink]="['/user', 'login']">Connexion</a>
            </div>
            <div class="col-md-5 align-self-center">
                <a [routerLink]="['/user', 'register']">Création de compte</a>
            </div>
        </div>
    </div>
</div>
