<div class="bg-dark rounded-3">
  <h1 class="p-3">Mot de passe oublié</h1>

  <div class="container p-5">
    <form>
      <div class="input-group pb-2">
        <span class="input-group-text" id="email-input">&#64;</span>
        <input type="email" name="email" [(ngModel)]="email" class="form-control"
               placeholder="Email du compte" aria-label="Email du compte" aria-describedby="email-input">
      </div>
    </form>

    <div class="row justify-content-between align-items-center">
      <button (click)="sendRequestReset()" [disabled]="!email" class=" col col-md-2 btn btn-success">
        Envoyer la demande
      </button>

      <div class="col col-md-6"></div>

      <a class="col col-md-2" href="/user/register">
        Créer un compte
      </a>

      <a class="col col-md-2" href="/user/login">
        Se connecter
      </a>
    </div>
  </div>
</div>
