<h1>
    {{ news ? 'Modification' : 'Création' }} d'une news
</h1>

<div class="row justify-content-around">
    <div class="form-control col-md-5 p-3">
        <h2>Informations</h2>

        <div class="pb-2">
            <app-input-text
                    [label]="'Nom Unique'"
                    [placeholder]="'Entrez le nom unique de la news'"
                    [id]="'newsName'"
                    [text]="name"
                    [required]="true"
                    [formSent]="formSent"
                    [inputErrors]="nameErrors"
                    (textChange)="name = $event"
            ></app-input-text>
        </div>

        <div class="pb-2">
            <app-input-text
                    [label]="'Titre'"
                    [placeholder]="'Entrez le titre de la news'"
                    [id]="'newsTitle'"
                    [text]="title"
                    [required]="true"
                    [formSent]="formSent"
                    [inputErrors]="titleErrors"
                    (textChange)="title = $event"
            ></app-input-text>
        </div>

        <div class="pb-2">
            <app-input-text
                    [label]="'Sous-titre'"
                    [placeholder]="'Entrez le sous-titre de la news'"
                    [id]="'newsSubTitle'"
                    [text]="subTitle"
                    [required]="true"
                    [formSent]="formSent"
                    [inputErrors]="subTitleErrors"
                    (textChange)="subTitle = $event"
            ></app-input-text>
        </div>

        <div class="pb-2">
            <app-input-checkbox
                    [label]="'Brouillon'"
                    [id]="'newsDraft'"
                    [checked]="draft"
                    [required]="true"
                    [formSent]="formSent"
                    (onChange)="draft = $event"
            ></app-input-checkbox>
        </div>
    </div>

    <div class="form-control col-md-6 p-3">
        <h2>Image</h2>

        <div *ngIf="actualArticleImageUrl">
            <p>Image actuelle de la news</p>
            <img class="img-fluid mt-2" [ngSrc]="actualArticleImageUrl" [width]="640" [height]="360" alt="news visuel">

            <hr>
        </div>

        <input-file
                [label]="'Image à envoyer'"
                [id]="'newsImage'"
                [file]="articleImage"
                [required]="news === undefined"
                [formSent]="formSent"
                (fileChange)="setFile($event)"
        ></input-file>

        <img *ngIf="uploadedImagePreview" [src]="uploadedImagePreview" [width]="640" [height]="360" alt="Visuel séléctionné" class="img-fluid mt-2">
    </div>
</div>

<div class="pt-4 pb-4">
    <h2>Contenu</h2>

    <markdown-converter
            [bodyMarkdownErrors]="bodyMarkdownErrors"
            [bodyMarkdown]="bodyMarkdown"
            [bodyHtml]="bodyHtml"
            (onBodyHtmlChange)="bodyHtml = $event"
            (onBodyMarkdownChange)="bodyMarkdown = $event"
    ></markdown-converter>

    <div class="pt-4">
        <hr>
        <app-send-button
                [label]="'Enregistrer la news'"
                [loading]="loading"
                (onClick)="sendRequest()"
        ></app-send-button>
    </div>
</div>