<div class="container bg-dark rounded-3">
  <h1 class="text-center">Wiki de Pacifista</h1>

  <p>Bienvenue sur ce wiki, dans ce wiki vous allez en savoir plus sur le fonctionnement de Pacifista avec ses commandes et ses fonctionalitées.

    Pour commencer je vous conseille de lire les règles du serveur disponibles en cliquant ici si vous ne les connaissez pas encore.</p>

  <p>Pacifista est un serveur survie libre, vous arrivez, vous pouvez faire votre maison/base où vous voulez (pas trop proche d'un autre joueur sauf si il vous autorise), miner bref faire une survie classique mais tout en étant sur un serveur.</p>

  <p>
    À l'heure actuelle Pacifista compte deux serveurs survie :<br/>
    - Serveur Survie<br/>
    - Serveur FreeBuild<br/>
  </p>

  <p>
    Voici les différences entre les deux serveurs :<br/>
    Serveur Survie<br/>
    - PvP Activé<br/>
    - Perte d'inventaire lors de la mort (Inventaire sécurisé les joueurs ne peuvent pas prendre votre inventaire)<br/>
    - Explosion de creepers activé
  </p>

  <p>
    Attention : Les inventaires, EnderChest, Armures, Barres d'exp et monnaies sont synchronisés entre les deux serveurs.
  </p>

  <p>
    Quand vous vous connectez sur Pacifista vous allez arriver sur un serveur d'accueil nommé Hub, pour choisir votre serveur de jeu vous avez une boussole dans votre inventaire pour ouvrir le menu de sélection de serveur.

    Vous pouvez aussi accéder à ce menu depuis n'importe quel serveur avec la commande /menu qui vous ouvre le menu principal de Pacifista.
  </p>

  <p>
    Dans le /menu vous allez avoir différents boutons :<br/>

    - La boussole : Ouvre le menu de sélection de serveurs<br/>

    - L'oeuf : Ouvre le menu d'achat d'oeuf -> Disponible sur les serveurs Survie et FreeBuild<br/>

    - Le minecart coffre : Pas encore disponible
  </p>

  <p>
    Vous savez maintenant les bases du serveur. Pour en savoir plus sur les autres fonctionnalités n'hésitez pas à aller voir les autres wikis disponibles.
  </p>
</div>
