.fondateur {
  background-color: #b43131;
}

.admin {
  background-color: #9b3922;
}

.moderator {
  background-color: #f29727;
}

.helper {
  background-color: #088395;
}

.animator {
  background-color: #725e7c;
}

.developer {
  background-color: #2c3e50;
}

span {
  border-radius: 10px;
  color: white;
  padding: 6px;
}

.margin-right {
  margin-right: 7px;
}