<h2>Pacifista +</h2>
<p>
    Le Pacifista+ est un abonnement mensuel qui vous permet de soutenir Pacifista
    et de bénéficier d'avantages exclusifs.<br/>
    Souscrivez dès aujourd'hui mensuellement pour en profiter !<br />
    Sans engagement.
</p>
<div class="row justify-content-around align-items-center">
    <h3 class="col col-md-3 price-container">
        {{ pacifistaPlusArticle?.priceWithTax }} € / mois
    </h3>
    <button class="col col-md-3 btn btn-success">
        En savoir plus
    </button>
</div>
