<h2>Pacifista +</h2>
<p>
    Le Pacifista+ est un abonnement mensuel qui vous permet de soutenir Pacifista
    et de bénéficier d'avantages exclusifs.<br/>
    Souscrivez dès aujourd'hui mensuellement pour en profiter !<br />
    Sans engagement.
</p>

<div *ngIf="!loading; else loadingState" class="row justify-content-around align-items-center">
    <h3 class="col col-4 price-container">
        {{ shopService.formatPrice(pacifistaPlus?.priceWithTax) }} € / mois
    </h3>
    <button class="col col-4 btn btn-success" (click)="openModal()">
        <i class="bi bi-bookmark"></i>
        Souscrire
    </button>
</div>

<ng-template #loadingState>
    <app-spinner></app-spinner>
</ng-template>
