<section class="socials-section p-4">
    <div class="container">
        <h2 class="section-title">
            <span class="underline-magical">Réseaux</span>
        </h2>
        <h3>Suivez nos réseaux pour ne rien rater.</h3>

        <div class="row text-center align-content-center justify-content-md-center">

            <div class="col col-lg-3">
                <a href="https://instagram.com/pacifistamc" rel="external" target="_blank">
                    <div class="social-logo-container">
                        <img ngSrc="assets/img/socials/instagram.svg" [loading]="'lazy'" alt="Instagram logo" height="100" width="100">
                    </div>
                </a>
                <a class="social-link" href="https://instagram.com/pacifistamc" rel="external" target="_blank">Lien <i class="bi bi-box-arrow-up-right"></i></a>
                <p>Suivez-nous sur Instagram pour voir le contenu en story et les reels !</p>
            </div>

            <div class="col col-lg-3">
                <a href="https://twitch.tv/funixgaming" rel="external" target="_blank">
                    <div class="social-logo-container">
                        <img ngSrc="assets/img/socials/twitch.svg" [loading]="'lazy'" alt="Twitch logo" height="100" width="100">
                    </div>
                </a>
                <a class="social-link" href="https://twitch.tv/funixgaming" rel="nofollow external" target="_blank">Lien <i class="bi bi-box-arrow-up-right"></i></a>
                <p>Vivez les events et lives chill sur Twitch sur la chaine en direct du Fondateur !</p>
            </div>

            <div class="col col-lg-3">
                <a href="https://discord.gg/3smswFCBky" rel="external" target="_blank">
                    <div class="social-logo-container">
                        <img ngSrc="assets/img/socials/discord.svg" [loading]="'lazy'" alt="Discord logo" height="100" width="100">
                    </div>
                </a>
                <a class="social-link" href="https://discord.gg/3smswFCBky" rel="nofollow external" target="_blank">Lien <i class="bi bi-box-arrow-up-right"></i></a>
                <p>Rencontrez l’ensemble de la communauté et le staff sur Discord !</p>
            </div>

            <div class="col col-lg-3">
                <a href="https://youtube.com/c/funixgaming" rel="external" target="_blank">
                    <div class="social-logo-container">
                        <img ngSrc="assets/img/socials/youtube.svg" [loading]="'lazy'" alt="YouTube logo" height="100" width="100">
                    </div>
                </a>
                <a class="social-link" href="https://youtube.com/c/funixgaming" rel="external" target="_blank">Lien <i class="bi bi-box-arrow-up-right"></i></a>
                <p>Suivez le contenu créé sur YouTube pour le serveur et bien plus encore !</p>
            </div>

        </div>
    </div>
</section>
