<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" searchable="name" (search)="search($event)" sortable="name" (sort)="onSort($event)">Nom</th>
            <th scope="col" searchable="description" (search)="search($event)" sortable="description" (sort)="onSort($event)">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        @for (category of list; track category.id) {
            <tr>
                <td>
                    {{ category.name }}
                </td>
                <td>
                    {{ category.description }}
                </td>
                <td>
                    <a href="/admin/shop/category/{{ category.id }}" class="btn btn-primary btn-sm">
                        <span class="bi bi-pencil"></span>
                    </a>

                    <button class="btn btn-danger btn-sm"
                        (click)="onRemoveCategoryClick(category)"
                    >
                        <span class="bi bi-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination
            [collectionSize]="allElemsDatabase"
            [(page)]="page"
            [pageSize]="maxElemsPerPage"
            (pageChange)="updateList()"
            [maxSize]="7"
    >
    </ngb-pagination>
</div>
