<div class="login-form">
    <div class="row g-3">
        <div class="col-md-12">
            <app-input-text
                    [label]="'Identifiant'"
                    [placeholder]="'Entrez votre identifiant'"
                    [id]="'usernameInput'"
                    [text]="username"
                    [required]="true"
                    [formSent]="formSent"
                    [inputErrors]="usernameErrors"
                    (textChange)="username = $event"
            ></app-input-text>
        </div>

        <div class="col-md-12">
            <app-input-email
                    [formSent]="formSent"
                    [email]="email"
                    [emailErrors]="emailErrors"
                    [isRequired]="true"
                    (emailChange)="email = $event"
            ></app-input-email>
        </div>

        <div class="col-md-12">
            <div class="input-group has-validation">
                <app-user-country-select
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="countryErrors"
                        [selectedCountry]="country"
                        (countrySelected)="onCountryChange($event)"
                        (countryClear)="onCountryChange()"
                ></app-user-country-select>
            </div>
            <div *ngFor="let error of countryErrors" class="countryErrors">
                {{ error }}
            </div>
        </div>

        <div class="col-md-6">
            <app-send-button
                    [loading]="loading"
                    [label]="'Mettre à jour'"
                    (onClick)="updateAccount()"
            ></app-send-button>
        </div>
    </div>
</div>