<h1 class="text-center">Conditions générales d'utilisation.</h1>

<div class="container">
  <p>Date de dernière mise à jour : 29 mars 2023 à 1h50 du matin par Antoine PRONNIER</p>

  <p>
    Merci de lire attentivement les présentes Conditions Générales d'Utilisation ("CGU") avant d'utiliser
    le site web et les services proposés par notre serveur Minecraft (le "Site" et le "Service").
  </p>
  <p>
    En accédant ou en utilisant le Site et le Service, vous acceptez d'être lié par les présentes CGU.
    Si vous n'acceptez pas les CGU, vous ne pouvez pas utiliser le Site ou le Service.
  </p>

  <h2>1. Utilisation du Site et du Service</h2>
  <p>
    Le Site et le Service sont destinés à être utilisés uniquement pour le jeu Minecraft et tout autre usage
    est strictement interdit. Vous vous engagez à respecter toutes les lois,
    règles et réglementations applicables en utilisant le Site et le Service.
  </p>
  <p>
    Vous êtes seul responsable de votre utilisation du Site et du Service. Vous ne pouvez pas utiliser le Site et
    le Service de manière à perturber, endommager ou compromettre leur fonctionnement ou leur sécurité.
  </p>

  <h2>2. Comptes</h2>
  <p>
    Vous pouvez créer un compte pour utiliser certains services proposés par le Site et le Service.
    Vous devez fournir des informations exactes, à jour et complètes pour créer un compte.
    Vous êtes responsable de la sécurité de votre compte et de vos identifiants de connexion.
  </p>
  <p>
    Vous ne pouvez pas utiliser le compte d'une autre personne sans autorisation, et vous ne pouvez pas transférer
    ou vendre votre compte à une autre personne. Nous nous réservons le droit de suspendre ou de résilier
    votre compte si vous ne respectez pas les présentes CGU.
  </p>

  <h2>3. Propriété intellectuelle</h2>
  <p>
    Tous les contenus, marques, logos, images et autres éléments du Site et du Service sont la propriété exclusive de
    notre serveur Minecraft ou de nos fournisseurs, et sont protégés par les lois sur la propriété intellectuelle.
  </p>
  <p>
    Vous n'êtes pas autorisé à copier, distribuer, reproduire, modifier ou utiliser de quelque manière que ce soit
    les contenus du Site et du Service sans notre autorisation écrite préalable.
  </p>
  <p>
    Vous êtes autorisés à filmer ou créer du contenu sur notre serveur Minecraft et note site web à unique condition de citer
    le nom du site web "Pacifista" et à y insérer le lien d'accès au site dans vôtre contenu "https://pacifista.fr"
  </p>

  <h2>4. Limitation de responsabilité</h2>
  <p>
    Le Site et le Service sont fournis "tels quels" et sans garantie d'aucune sorte, expresse ou implicite.
    Nous ne garantissons pas que le Site et le Service seront exempts d'erreurs, de virus ou d'autres problèmes.
  </p>
  <p>
    En aucun cas, nous ne pourrons être tenus responsables des dommages directs ou indirects résultant de
    l'utilisation ou de l'impossibilité d'utilisation du Site ou du Service.
  </p>

  <h2>5. Modifications des CGU</h2>
  <p>
    Nous nous réservons le droit de modifier les présentes CGU à tout moment, en publiant une nouvelle version sur le Site.
    Les modifications entreront en vigueur dès leur publication sur le Site.
  </p>
  <p>
    Nous vous encourageons à consulter régulièrement les CGU pour vous assurer que vous êtes informé des conditions en vigueur.
  </p>

  <h2>6. Droit applicable et juridiction compétente</h2>
  <p>
    Les présentes CGU sont régies et interprétées conformément aux lois en vigueur.
    Tout litige découlant des présentes CGU sera soumis à la juridiction exclusive des tribunaux compétents.
  </p>
</div>
