<div class="category-div">
  <h3>Catégories</h3>

  <div *ngFor="let category of categoriesList">
      <div *ngIf="category.id && categorySelected && category.id === categorySelected.id else notSelected">
          <div class="category-selected">
              <h4>{{ category.name }}</h4>
              <p>{{ category.description }}</p>
          </div>
      </div>
      <ng-template #notSelected>
          <div class="category" (click)="selectCategory(category)">
              <h4>{{ category.name }}</h4>
              <p>{{ category.description }}</p>
          </div>
      </ng-template>
      <hr>
  </div>
</div>
