<h1 class="text-center">Conditions générales de vente.</h1>

<div class="container bg-dark rounded-2">
  <p>Date de dernière mise à jour : 29 mars 2023 à 1h54 du matin par Antoine PRONNIER</p>

  <h2>Article 1 - Mentions légales</h2>
  <p>
    Le présent site, accesible à l'URL https://pacifista.fr/ (le "Site"), est édité et administré par FunixGaming
    représenté au nom de Antoine PRONNIER.<br/>
    SIRET : 884 589 060 00026<br/>
    Le site est hebergé par la société Hetzner (téléphone +49 (0)9831 505-0).<br/>
    Le directeur de la publication du Site est Antoine PRONNIER.<br/>
    L'exploitant peut être joint à l'email suivant : contact@pacifista.fr ou sur Twitter @FunixGaming
  </p>

  <h2>Article 2 – DISPOSITIONS GÉNÉRALES RELATIVES AUX PRESENTES CONDITIONS GENERALES</h2>
  <p>
    Les conditions générales de Vente (les « Conditions Générales de Vente », ou les « CGV ») sont applicables exclusivement
    à la vente en ligne des services proposés par l’Exploitant sur le Site internet Pacifista.
  <p>
  <p>
    Les CGV sont mises à la disposition des clients sur le Site où elles sont directement consultables
    et peuvent également lui être communiquées sur simple demande par tout moyen.
  </p>
  <p>
    Les CGV sont opposables au client qui reconnaît, en avoir eu connaissance et les avoir
    acceptées avant de passer commande. La validation de la commande par sa confirmation vaut adhésion par
    l'acheteur aux CGV en vigueur au jour de la commande dont la conservation et la reproduction sont assurées par l’Exploitant.
  </p>
  <p>
    Tout Client est par conséquent réputé avoir pris connaissance et accepté sans réserve l'intégralité des dispositions des CGV,
    qui s'appliqueront à toutes prestations accomplies par l'Exploitant. Les CGV prévaudront sur toutes clauses et conditions contraires
    pouvant figurer sur les conditions générales d'achat ou tout autre document émanant du Client. Toutes conditions
    contraires posées par le client seront donc, à défaut d'acceptation expresse par l'Exploitant, inopposables à ce dernier.
    L’Exploitant se réserve cependant le droit de déroger à certaines clauses des CGV en fonction des négociations menées avec le Client,
    par l’établissement de conditions de vente particulières (notamment par la conclusion d’un contrat de prestation de services)
    qui seront approuvées par le Client.
  </p>

  <h2>Article 3 – DESCRIPTION DES SERVICES</h2>
  <p>
    Le Site est un site de vente en ligne de services présentés sur notre boutique https://pacifista.fr/shop
    (ci-après le(s) « Service(s) ») ouverts à toute personne physique ou morale utilisant le Site (le « Client »).
    Les Services présentés sur le Site font chacun l'objet d'un descriptif mentionnant leurs caractéristiques essentielles.
    Les photographies illustrant les Services ne constituent pas un document contractuel.
    Les Services sont conformes aux prescriptions du droit français en vigueur.
  </p>
  <p>
    Le Client demeure responsable des modalités et des conséquences de son accès au Site notamment par l’Internet.
    Cet accès peut impliquer le paiement de frais à des prestataires techniques tels que notamment des fournisseurs d’accès à l’Internet,
    lesquels demeurent à sa charge. En outre, le Client devra fournir et être entièrement
    responsable des équipements nécessaires afin de se connecter au Site.
  </p>
  <p>
    Le Client reconnait avoir vérifié que la configuration informatique qu’il utilise est sécurisée et en état de fonctionnement.
  </p>

  <h2>Article 4 – CREATION DE L’ESPACE CLIENT</h2>
  <p>
    Pour passer une commande sur le Site, le Client doit au préalable créer son espace client personnel.
    Une fois créé, pour y accéder, le Client doit s’identifier en utilisant son identifiant et son mot de passe secret,
    personnel et confidentiel. Il appartient au Client de ne pas communiquer son identifiant et son mot de passe conformément
    aux dispositions de l’article DONNEES PERSONNELLES des présentes.
    Chaque Client s'engage à conserver une stricte confidentialité sur les données,
    en particulier identifiant et mot de passe, lui permettant d'accéder à son espace client,
    le Client reconnaissant être le seul responsable de l'accès au Service par le biais de son identifiant et de son mot de passe,
    sauf fraude avérée. Chaque Client s'engage en outre à informer sans délai l’Exploitant dans l'hypothèse d'une perte,
    d'un détournement ou de l'utilisation frauduleuse de son identifiant et/ou mot de passe.
  </p>
  <p>
    Le Client s'engage lors de son inscription à : <br/>
    -  délivrer des informations réelles, exactes, à jour au moment de leur saisie dans le formulaire d'inscription du service,
    et notamment à ne pas utiliser de faux noms ou adresses, ou encore des noms ou adresses sans y être autorisé.<br/>
    -  maintenir à jour les données d'inscriptions en vue de garantir en permanence leur caractère réel, exact et à jour.<br/>
  </p>
  <p>
    Le Client s'engage en outre à ne pas rendre disponible ou distribuer des informations illicites ou répréhensibles
    (telles que des informations diffamatoires ou constitutive d'usurpation d'identité) ou encore nuisibles (telles que les virus).
    Dans le cas contraire, l’Exploitant sera en mesure de suspendre ou de résilier l'accès du Client au Site à ses torts exclusifs.
  </p>

  <h2>Article 5 – COMMANDE EN LIGNE</h2>
  <p>
    Le Client s’engage à lire les Conditions Générales en vigueur avant de les accepter et de confirmer les modalités
    et les éventuels frais de livraison et de rétractation préalable au paiement de sa commande. La confirmation de la
    commande entraîne acceptation des CGV et forme le contrat.
  </p>
  <p>
    Le client devra accepter en cliquant à l’endroit indiqué (case non pré-cochée), les présentes conditions
    générales de vente, pour avoir accès aux moyens de payements et obtenir acceptation de la commande.
  </p>
  <p>
    L'archivage des communications, des bons de commande et des factures est assuré par l’Exploitant sur un support
    fiable et durable de manière à constituer une copie fidèle et durable. Ces communications, bons de commande et
    factures peuvent être produits à titre de preuve du contrat. Sauf preuve contraire, les données enregistrées par
    l’Exploitant sur Internet ou par téléphone constituent la preuve de l'ensemble des transactions passées entre l’Exploitant et ses Clients.
  </p>
  <p>
    Une copie des présentes Conditions Générales telles qu’acceptées par le Client peuvent être envoyées au Client par e-mail à tout moment sous sa demande.
  </p>
  <p>
    Tout email qui sera adressé au Client dans le cadre d’une commande le sera à l’adresse email que le Client utilise pour s’identifier dans son espace client.
  </p>
  <p>
    L’Exploitant se réserve le droit de ne pas valider la commande du Client pour tout motif légitime, notamment dans l’hypothèse où :<br/><br/>

    - Le Client ne respecterait pas les Conditions Générales en vigueur lors de sa commande ;<br/>
    - L’historique de commandes du Client montre que des sommes restent dues au titre de précédentes commandes<br/>
    - L’une des précédentes commandes du Client fait l’objet d’un litige en cours de traitement ;<br/>
    - Le Client n’a pas répondu à une demande de confirmation de sa commande que l’Exploitant lui a fait parvenir.
  </p>
  <p>
    L’Exploitant archive les contrats de vente de Services conformément à la législation applicable.
    En formulant une demande à l’adresse suivante contact@pacifista.fr, l’Exploitant remettra au Client une copie du contrat objet de la demande.
  </p>
  <p>
    Toute modification de commande par le Client après confirmation de sa commande est soumise à l'accord de l’Exploitant.
  </p>
  <p>
    Les informations communiquées par le Client lors de la passation de la commande engagent celui-ci. Ainsi,
    la responsabilité de l’Exploitant ne saurait en aucune manière être recherchée dans l'éventualité où une erreur
    lors de la passation de la commande empêcherait ou retarderait la livraison/la délivrance.
  </p>
  <p>
    Le Client déclare avoir la pleine capacité juridique lui permettant de s'engager au titre des présentes Conditions Générales.
  </p>
  <p>
    L'inscription est ouverte aux majeurs capables et aux mineurs à conditions que ceux-ci interviennent sous la surveillance
    du parent ou tuteur détenant l'autorité parentale. En aucun cas, l'inscription n'est autorisée pour le compte de
    tiers à moins d'être valablement habilité à la représenter (personne morale par exemple). L'inscription est strictement personnelle à chaque Client.
  </p>
  <p>
    En cas de manquement par le Client à l'une des dispositions des présentes, l’Exploitant se réserve le droit de résilier sans préavis le compte dudit Client.
  </p>

  <h2>Article 6 – MODALITÉS DE PAIEMENT ET SÉCURISATION</h2>
  <p>
    Le Client reconnait expressément que toute commande effectuée sur le Site est une commande avec obligation de
    paiement, qui nécessite le paiement d’un prix contre la fourniture du Service commandé.
  </p>
  <p>
    Le Client est informé que la mise à disposition du Service ne pourra être effectuée avant le parfait
    encaissement par l’Exploitant des sommes dues par le Client.
  </p>
  <p>
    L’Exploitant utilise les solutions de paiement en ligne PayPal et Paysafecard.
  </p>
  <p>
    Les commandes peuvent être payées en ayant recours à l’une des modes de paiement suivants :
  </p>
  <p>
    -  Paiement par carte prépayée PaySafeCard. Le paiement s'effectue sur la boutique de l’Exploitant.
    Les informations de payment sont envoyées à l'api PaySafeCard afin de valider automatiquement les payements.
  </p>
  <p>
    - Paiement par carte bancaire. Le paiement s'effectue directement sur les serveurs bancaires sécurisés de PayPal,
    les coordonnées bancaires du Client ne transitent pas sur le Site. Les coordonnées bancaires communiquées lors du paiement
    sont protégées par un procédé de cryptage SSL (Secure Socket Layer). De cette manière, ces coordonnées ne sont pas accessibles à des tiers.
  </p>
  <p>
    La commande du Client est enregistrée et validée dès acceptation du paiement par PayPal.
    Le compte du Client sera débité du montant correspondant uniquement lorsque (i)
    les données de la carte bancaire utilisée auront été vérifiées et (ii) le débit aura été accepté par la banque ayant émis la carte bancaire.
    L’impossibilité de débiter les sommes dues entraînera la nullité immédiate de la vente.
    La carte bancaire peut notamment être refusée si elle est arrivée à expiration,
    si elle a atteint le montant maximal de dépense auquel le Client a droit ou si les données saisies sont incorrectes.
  </p>
  <p>
    - Paiement par Paypal. Le paiement s'effectue directement sur les serveurs bancaires sécurisés de PayPal,
    les coordonnées bancaires du Client ne transitent pas sur le Site. Les coordonnées bancaires communiquées lors du paiement
    sont protégées par un procédé de cryptage SSL (Secure Socket Layer). De cette manière, ces coordonnées ne sont pas accessibles à des tiers.
  </p>
  <p>
    - Paiement par portefeuille électronique (Paypal). Le Client possède déjà un compte sur le portefeuille
    électronique utilisé par l’Exploitant. Le Client peut utiliser ce compte et régler sa commande en toute
    sécurité sans communiquer ses coordonnées bancaires.
  </p>
  <p>
    Le cas échéant, la commande validée par le Client ne sera considérée comme effective que lorsque le centre de
    paiement bancaire sécurisé aura donné son accord sur la transaction.
  </p>
  <p>
    Dans le cadre des procédures de contrôle, l’Exploitant pourra avoir à demander au Client toutes les pièces
    nécessaires à la finalisation de sa commande. Ces pièces ne seront pas utilisées à d’autres fins que celles-ci.
  </p>

  <h2>ARTICLE 7 – PAIEMENT DU PRIX</h2>
  <p>
    Le prix des Services en vigueur lors de la commande est indiqué en euros toutes taxes comprises (TTC) sur le Site.
    En cas de promotion, l’Exploitant s'engage à appliquer le prix promotionnel à toute
    commande passée durant la période de la publicité faite pour la promotion
  </p>
  <p>
    Le prix est payable en euros (€) exclusivement.
  </p>
  <p>
    Le prix est exigible en totalité après confirmation de la commande.
    Les prix proposés comprennent les rabais et ristournes que l’Exploitant serait amené à octroyer.
  </p>
  <p>
    Le montant total dû par le Client et son détail sont indiqués sur la page de confirmation de commande.
  </p>

  <h2>ARTICLE 8 – DROIT DE RÉTRACTATION</h2>
  <p>
    Conformément aux dispositions de l'article L.121-21 du Code de la Consommation, le Client d'un délai de
    rétractation de 14 jours à compter de la délivrance des services pour exercer son
    droit de rétraction sans avoir à justifier de motifs ni à payer de pénalité.
    Ce droit ne peux s'appliquer ici dans le cas de l’Exploitant qui fournit un service immédiat lors de l'achat.
  </p>
  <p>
    Le droit de rétractation est uniquement applicable pour les grades et abonnements. Les autres articles ne sont
    pas remboursables et ne peuvent faire l'objet d'une rétractation.
  </p>
  <p>
    En effectuant un payement sur le Site, le Client renonce expressément à exercer son droit de rétractation
    conformément aux dispositions de l’article L.221-28 13° du code de la consommation.
  </p>
  <p>
    Les exceptions de l’article L.221-28 du Code de la Consommation s’appliquent et font obstacle à l’exercice du droit de rétractation :
  </p>
  <p>
    1° De fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l'exécution a
    commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation ;
  </p>
  <p>
    2° De fourniture de biens ou de services dont le prix dépend de fluctuations sur le marché financier échappant au
    contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation ;
  </p>
  <p>
    8° De travaux d'entretien ou de réparation à réaliser en urgence au domicile du consommateur et
    expressément sollicités par lui, dans la limite des pièces de rechange et travaux strictement nécessaires pour répondre à l'urgence ;
  </p>
  <p>
    11° Conclu lors d'une enchère publique ;
  </p>
  <p>
    12° De prestation de services d'hébergement, autres que d'hébergement résidentiel, de services de transport de biens,
    de locations de voitures, de restauration ou d'activités de loisirs qui doivent être fournis à une date ou à une période déterminée ;
  </p>
  <p>
    13° De fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après
    accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.
  </p>
  <p>
    En acceptant les présentes Conditions Générales, le Client reconnait expressément avoir été informé des modalités de rétractation.
  </p>

  <h2>ARTICLE 9 – SERVICE CLIENTS</h2>
  <p>
    Le Client peut contacter l’Exploitant par email en s’adressant à contact@pacifista.fr en indiquant son nom,
    son adresse mail renseignée sur son espace client et l’objet de sa demande.
  </p>

  <h2>ARTICLE 10 – DONNÉES PERSONNELLES</h2>
  <p>
    Chaque Client est seul responsable de la préservation de la confidentialité de son identifiant et de son mot de passe,
    et est seul responsable de tous les accès à son Compte Client ainsi qu’à ses moyens de payements utilisés pour le
    règlement de sa commande, qu’ils soient autorisés ou non.
  </p>
  <p>
    L’Exploitant ne saurait être tenu pour responsable de toute action ou fait dommageable réalisés via
    l’espace personnel du Client par un tiers qui aurait eu accès à ses identifiants et mot de passe suite
    à une faute ou une négligence étant imputable au Client. Le Client s’engage à informer l’Exploitant
    immédiatement dès lors que le Client a connaissance ou suspecte un usage non autorisé ou un accès non autorisé à
    son espace personnel.
  </p>

  <h2>ARTICLE 11 – LIENS HYPERTEXTES</h2>
  <p>
    Les liens hypertextes disponibles sur le Site peuvent renvoyer vers des sites tiers non édités par l’Exploitant.
    Ils sont fournis uniquement pour la convenance du Client, afin de faciliter l’utilisation des ressources disponibles
    sur l’Internet. Si le Client utilise ces liens, il quittera le Site et acceptera alors d’utiliser
    les sites tiers à ses risques et périls ou le cas échéant conformément aux conditions qui les régissent.
  </p>
  <p>
    Le Client reconnait que l’Exploitant ne contrôle ni ne contribue en aucune manière à l’élaboration des conditions
    d’utilisation et/ou du contenu s’appliquant à ou figurant sur ces sites tiers.
  </p>
  <p>
    En conséquence, l’Exploitant ne saurait être tenu responsable de quelque façon que ce soit du fait de ces liens hypertextes.
  </p>
  <p>
    En outre, le Client reconnait que l’Exploitant ne saurait cautionner, garantir ou reprendre à son compte tout ou
    partie des conditions d’utilisation et/ou du contenu de ces sites tiers.
  </p>
  <p>
    Le Site peut également contenir des liens hypertextes promotionnels et/ou bandeaux publicitaires renvoyant vers des sites tiers non édités par l’Exploitant.
  </p>
  <p>
    L’Exploitant invite le Client à lui signaler tout lien hypertexte présent sur le Site qui permettrait d’accéder à un
    site tiers proposant du contenu contraire aux lois et/ou aux bonnes mœurs.
  </p>
  <p>
    Le Client ne pourra pas utiliser et/ou insérer de lien hypertexte pointant vers le site sans l’accord écrit et préalable de l’Exploitant au cas par cas.
  </p>

  <h2>ARTICLE 12 –  DISPOSITIONS GÉNÉRALES</h2>
  <p>
    INTEGRALITÉ DE L’ACCORD DES PARTIES
  </p>
  <p>
    Les présentes Conditions Générales constituent un contrat régissant les relations entre le Client et l’Exploitant.
    Elles constituent l'intégralité des droits et obligations de la Société et de l’Exploitant relatifs à leur objet.
    Si une ou plusieurs stipulations des présentes Conditions Générales étaient déclarées nulles en application d'une loi,
    d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont
    toute leur force et leur portée. En outre, le fait pour une des parties aux présentes Conditions Générales de ne
    pas se prévaloir d'un manquement de l'autre partie à l'une quelconque des dispositions des présentes Conditions
    Générales ne saurait s'interpréter comme une renonciation de sa part à se prévaloir dans l'avenir d'un tel manquement.
  </p>
  <p>
    MODIFICATIONS DES CONDITIONS
  </p>
  <p>
    L’Exploitant se réserve le droit de modifier à tout moment et sans préavis le contenu du Site ou des services qui y
    sont disponibles, et/ou de cesser de manière temporaire ou définitive d’exploiter tout ou partie du Site.
  </p>
  <p>
    En outre, l’Exploitant se réserve le droit de modifier à tout moment et sans préavis la localisation du Site sur
    l’Internet, ainsi que les présentes Conditions Générales. Le Client est donc tenu par conséquent de se reporter
    aux présentes Conditions Générales avant toute utilisation du Site. EN CAS DE MODIFICATIONS MATÉRIELLES ET DANS
    L’HYPOTHESE DE PRESTATIONS DE SERVICES CONTINUES / EN COURS, L’UTILISATEUR SERA INFORMÉ AU MOYEN D’UN AVERTISSEMENT
    SUR LE SITE AVANT LA MISE EN APPLICATION DE LA MODIFICATION.
  </p>
  <p>
    Le Client reconnait que l’Exploitant ne saurait être tenu responsable de quelque manière que ce soit envers lui
    ou tout tiers du fait de ces modifications, suspensions ou cessations.
  </p>
  <p>
    L’Exploitant conseille au Client de sauvegarder et/ou imprimer les présentes Conditions Générales pour une
    conservation sûre et durable, et pouvoir ainsi les invoquer à tout moment pendant l'exécution du contrat si besoin.
  </p>
  <p>
    RÉCLAMATION
  </p>
  <p>
    En cas de litige, vous devez vous adresser en priorité au service client à l'email suivant : contact@pacifista.fr
  </p>
  <p>
    DROIT APPLICABLE
  </p>
  <p>
    Ces Conditions Générales sont régies, interprétées et appliquées conformément au droit français.
  </p>
  <p>
    ACCEPTATION DES CONDITIONS GENERALES PAR LE CLIENT
  </p>
  <p>
    Le Client reconnait avoir lu attentivement les présentes Conditions Générales.
  </p>
  <p>
    En s’inscrivant sur le Site, le Client confirme avoir pris connaissance des Conditions Générales et les
    accepter via une case non pré cochée dans le formulaire d'inscription,
    le rendant contractuellement lié par les termes des présentes Conditions Générales.
  </p>
  <p>
    Les Conditions Générales applicables au Client sont celles disponibles à la date de la commande dont une copie
    datée à ce jour peut être remise à sa demande au Client, il est donc précisé que toute modification des
    Conditions Générales qui serait effectuée par l’Exploitant ne s’appliquera pas à toute commande
    intervenue antérieurement, sauf accord exprès du Client à l’origine d’une commande donnée.
  </p>
</div>
