<section class="about-section-more p-4">
  <div class="container">
    <h2 class="section-title">
      <span>A propos</span>
    </h2>
    <h3>Présentation du serveur Minecraft Pacifista.</h3>

    <p>
      Pacifista est un serveur Minecraft principalement survie créé en août 2018 par FunixGaming. Le but premier de ce serveur est de proposer des
      fonctionnalités faites maison aux joueurs pour permettre de mieux suivre les envies de la communauté et d’appliquer leurs retours. Nous faisons donc nos plugins nous-mêmes.
      Pacifista est un serveur survie à l'origine, mais se développe de plus en plus pour proposer de nouveaux modes de jeux comme un serveur créatif. D'autres modes sont à venir.<br/>
      <br/>
      Le serveur survie de Pacifista est assez libre, vous avez le choix de faire ce que vous souhaitez. Cependant, vous devez respecter le règlement du serveur mis en place pour que tout le monde puisse
      jouer dans les meilleurs conditions.  Il y a un système de “claim” qui permet de protéger vos coffres et constructions (bases) pour éviter que les joueurs volent ou détruisent ce que vous avez fait.
      Tout repose sur un système économique avec des métiers et des échanges entre joueurs, ce qui vous permet d’avancer plus efficacement lorsque vous gérez votre économie.
      La carte n’est jamais reset et possède une taille illimitée avec un système de suppression de zones non visitées, rassurez-vous les bases ne sont pas supprimées si vous les avez protégées avec un claim.<br/>
      <br/>
      Nous sommes très attentifs à la gestion de la communauté, c’est d’ailleurs un des points les plus importants dans ce projet.
      Nous avons une grille de sanction réservée au staff afin que chaque sanction soit donnée équitablement.
      Tout comportement toxique sur le serveur est très vite remarqué par l’équipe et vite sanctionné en cas de nécessité.
      Nous voulons proposer un environnement de jeu sain et sans prise de tête pour les joueurs.<br/>
      <br/>
      N’hésitez plus, rejoignez-nous pour participer à cette belle aventure sur Pacifista !
    </p>

    <p><strong>FunixGaming - Le fondateur de Pacifista</strong></p>

    <div class="text-end">
      <a class="btn pacifista-btn" href="/join">Se connecter au serveur</a>
    </div>
  </div>
</section>
