@import "../../accueil.component";

.staff-section img {
  border-radius: 15%;
}

.staff-section .col span {
  border-radius: 10px;
  color: white;
  padding: 6px;
}

.fondateur {
  background-color: #b43131;
}

.admin {
  background-color: #1a1a1a;
}
