<section class="staff-section p-4">
    <div class="container">
        <h2 class="section-title">
            <span class="underline-magical">Staff</span>
        </h2>
        <h3>L'équipe de Pacifista, à votre écoute.</h3>

        <div class="text-center pb-3 pt-3">
            <img ngSrc="assets/img/minecraft/skins/funixgaming.png" [loading]="'lazy'" height="180" width="180" alt="FunixGaming Minecraft skin">
            <h4>FunixGaming</h4>
            <staff-badge [username]="owner"></staff-badge>
        </div>

    </div>

    <div class="row text-center align-content-start justify-content-md-center">
        <div *ngFor="let admin of admins" class="col col-lg-4">
            <app-staff-accueuil-section-row-player
                    [username]="admin"
            ></app-staff-accueuil-section-row-player>
        </div>
    </div>

    <div class="row text-center align-content-start justify-content-md-center">
        <div *ngFor="let modo of moderators" class="col col-lg-4">
            <app-staff-accueuil-section-row-player
                [username]="modo"
            ></app-staff-accueuil-section-row-player>
        </div>
    </div>

    <div class="row text-center align-content-start justify-content-md-center">
        <div *ngFor="let helper of helpers" class="col col-lg-4">
            <app-staff-accueuil-section-row-player
                    [username]="helper"
            ></app-staff-accueuil-section-row-player>
        </div>
    </div>

    <div class="row text-center align-content-start justify-content-md-center">
        <div *ngFor="let otherStaff of otherStaffs" class="col col-lg-4">
            <app-staff-accueuil-section-row-player
                    [username]="otherStaff"
            ></app-staff-accueuil-section-row-player>
        </div>
    </div>

    <div class="text-center">
        <h5>Pourquoi pas vous ?</h5>
        <p>Vous souhaitez postuler ? Envoyez-nous votre candidature par mail à <a href="mailto:contact@pacifista.fr">contact&#64;pacifista.fr</a> !</p>
    </div>
</section>
