<label [for]="id" class="form-label">{{ label }}</label>
<div class="input-group has-validation">
    <span class="input-group-text" id="inputGroupPrepend">{{ '@' }}</span>
    <input
            type="text"
            class="form-control"
            placeholder="Adresse email"
            [ngClass]="{
                'is-invalid': formSent && emailErrors.length > 0,
                'is-valid': formSent && emailErrors.length === 0
             }"
            [(ngModel)]="email"
            [id]="id"
            [required]="isRequired"
            (input)="onInput()"
            [value]="email"
            aria-describedby="inputGroupPrepend"
    />
    <div *ngFor="let error of emailErrors" class="invalid-feedback">
        {{ error }}
    </div>
</div>
