<label *ngIf="label.length > 0" [for]="id" class="form-label">{{ label }}</label>
<input
        type="text"
        class="form-control"
        [placeholder]="placeholder"
        [(ngModel)]="text"
        [id]="id"
        [disabled]="disabled"
        [value]="text"
        [required]="required"
        (input)="onInput()"
        [ngClass]="{
                'is-invalid': formSent && inputErrors.length > 0,
                'is-valid': formSent && inputErrors.length === 0
             }"
>
<div *ngFor="let error of inputErrors" class="invalid-feedback">
    {{ error }}
</div>
