<div class="container form-content-div">
    <div class="header">
        <h1>Connexion</h1>
    </div>
    <div class="login-form">
        <div class="row g-3">
            <div class="col-md-5">
                <app-input-text
                        [label]="'Identifiant'"
                        [placeholder]="'Entrez votre identifiant'"
                        [id]="'usernameInput'"
                        [text]="username"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="usernameErrors"
                        (textChange)="username = $event"
                ></app-input-text>
            </div>

            <div class="col-md-7">
                <app-input-secret
                        [label]="'Mot de passe'"
                        [placeholder]="'Entrez votre mot de passe'"
                        [id]="'passwordInput'"
                        [text]="password"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="passwordErrors"
                        (textChange)="password = $event"
                ></app-input-secret>
            </div>

            <div class="col-md-3">
                <app-send-button
                        [loading]="loading"
                        [label]="'Connexion'"
                        (onClick)="login()"
                ></app-send-button>
            </div>
            <div class="col-md-5 align-self-center">
                <a [routerLink]="['/user', 'register']">Pas de compte ? Créez-en un ici !</a>
            </div>
            <div class="col-md-4 align-self-center">
                <a [routerLink]="['/user', 'forgotpassword']">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
</div>