<div class="container bg-dark rounded-3">
  <h2 class="p-5">Se Connecter</h2>

  <div class="container w-50 align-items-start">
    <form>
      <div class="input-group">
        <span class="input-group-text" id="username-input">@</span>
        <input type="text" name="username" [(ngModel)]="username" class="form-control"
               placeholder="Identifiant" aria-label="Identifiant" aria-describedby="username-input">
      </div>

      <div class="input-group">
        <span class="input-group-text" id="password-input">***</span>
        <input type="password" class="form-control" name="password" [(ngModel)]="password"
               placeholder="Mot de passe" aria-label="Mot de passe" aria-describedby="password-input">
      </div>

      <button (click)="login()" [disabled]="!password || !username" class="btn btn-success">
        Se connecter
      </button>
    </form>

    <a href="/user/register">
      Créer un compte
    </a>
  </div>
</div>
