<div class="card bg-dark">
    <div class="card-body">
        <h2 class="card-title">Suppression d'entité</h2>
        <h3 class="card-subtitle mb-2">Êtes-vous sur de supprimer cette donnée ?</h3>

        <div class="row justify-content-around">
            <app-send-button
                    [label]="'Oui'"
                    [loading]="loadingRequest"
                    [labelIcon]="'trash'"
                    (onClick)="deleteEntity()"
            ></app-send-button>

            <app-send-button
                    [label]="'Non'"
                    (onClick)="closeModal()"
            ></app-send-button>
        </div>
    </div>
</div>
