<div class="card text-bg-dark mb-2" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ news.articleImageUrl }}" class="img-fluid rounded-start" alt="News image {{ news.name }}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ news.title }}</h5>
        <p class="card-text">{{ news.subtitle }}</p>

        <div class="row justify-content-start align-items-center">
          <div class="col-md">
            <fa-icon icon="user"></fa-icon><span> {{ news.originalWriter?.username }}</span>
          </div>
          <div class="col-md">
            <fa-icon icon="clock"></fa-icon><span> {{ news.createdAt | date : 'dd/MM/YY - HH:mm' }}</span>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto mr-auto">
            <div class="row">
              <div class="col col-md div-stat">
                <fa-icon icon="thumbs-up"></fa-icon>
                <span> {{ news.likesAmount }}</span>
              </div>

              <div class="col col-md div-stat">
                <fa-icon icon="comment"></fa-icon>
                <span> {{ news.commentsAmount }}</span>
              </div>
            </div>
          </div>

          <a class="col-auto card-link" href="/news/{{ news.name }}">
            Lire +
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
