<div *ngIf="user; else noUsername">
    <div *ngIf="user.linked === true; else notValidated">
        <div *ngIf="websites.length > 0; else noVoteWebSites">
            <p>
                Vous pouvez voter pour
                <strong>
                        <span>
                            <minecraft-head
                                    [username]="user.minecraftUsername ?? 'Notch'"
                                    [size]="24"
                            ></minecraft-head>
                            {{ user.minecraftUsername }}
                        </span>
                </strong> sur les sites suivants :
            </p>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div *ngFor="let website of websites" class="col-md-auto">
                        <app-vote-user-website [voteWebsite]="website"></app-vote-user-website>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noVoteWebSites>
            <div class="alert alert-info">
                Aucun site de vote n'est disponible pour le moment.
            </div>
        </ng-template>

    </div>
    <ng-template #notValidated>
        <div class="alert alert-warning">
            Vous n'avez pas validé votre compte Minecraft. Allez dans la section <a routerLink="/user">Compte</a> pour le valider.
        </div>
    </ng-template>
</div>

<ng-template #noUsername>
    <div *ngIf="loadingUsername; else doneLoading">
        <app-spinner></app-spinner>
    </div>
    <ng-template #doneLoading>
        <div *ngIf="!connected; else connectedWithNoMinecraft">
            <div class="alert alert-info">
                Vous devez être connecté pour voter. Allez dans la section <a routerLink="/user">Compte</a>.
            </div>
        </div>
        <ng-template #connectedWithNoMinecraft>
            <div class="alert alert-info">
                Vous devez lier votre compte Minecraft pour voter. Allez dans la section <a routerLink="/user">Compte</a> pour le lier.
            </div>
        </ng-template>
    </ng-template>
</ng-template>