.register-div {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 20px;
  color: white;
}

.countryErrors {
  color: #dc3545;
}

.register-div {
  background: linear-gradient(to bottom, #3498db 10px, #28282B 10px);
  padding: 20px;
}

@media (max-width: 990px) {
  .register-div {
    width: 70%; /* Set width to 70% for screens 990px and below */
  }
}

@media (max-width: 770px) {
  .register-div {
    width: 90%; /* Set width to 70% for screens 990px and below */
  }
}