<div class="container register-div">
    <div class="header">
        <h1>Création de compte</h1>
    </div>
    <div class="register-form">
        <div class="row g-3">
            <div class="col-md-5">
                <label for="validationUsername" class="form-label">Identifiant</label>
                <input type="text" class="form-control" placeholder="Identifiant" [(ngModel)]="username" id="validationUsername" value="{{ username }}" required>
                <div *ngFor="let error of usernameErrors" class="invalid-feedback">
                    {{ error }}
                </div>
            </div>

            <div class="col-md-7">
                <app-input-email
                        [email]="email"
                        [formSent]="formSent"
                        [emailErrors]="emailErrors"
                        [isRequired]="true"
                        (emailChange)="onEmailChange($event)"
                ></app-input-email>
            </div>

            <div class="col-md-12">
                <label for="validationCountry" class="form-label">Pays</label>
                <div class="input-group has-validation">
                    <mat-select-country
                            [required]="true"
                            appearance="fill"
                            id="validationCountry"
                            label="Pays"
                            [itemsLoadSize]="5"
                            (onCountrySelected)="onCountryChange($event)"
                            lang="fr">
                    </mat-select-country>
                </div>
                <div *ngFor="let error of countryErrors" class="countryErrors">
                    {{ error }}
                </div>
            </div>

            <div class="col-md-6">
                <label for="validationPassword" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" [(ngModel)]="password" id="validationPassword" required>
                <div *ngFor="let error of passwordErrors" class="invalid-feedback">
                    {{ error }}
                </div>
            </div>

            <div class="col-md-6">
                <label for="validationPasswordConfirm" [(ngModel)]="acceptCgu" class="form-label">Confirmation du mot de passe</label>
                <input type="password" class="form-control" [(ngModel)]="passwordConfirmation" id="validationPasswordConfirm" required>
                <div *ngFor="let error of passwordConfirmationErrors" class="invalid-feedback">
                    {{ error }}
                </div>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="acceptCgv" type="checkbox" value="" id="invalidCheckCgv" required>
                    <label class="form-check-label" for="invalidCheckCgv">
                        Accepter les <a href="/cgv">conditions générales de vente</a>.
                    </label>
                    <div *ngFor="let error of cgvErrors" class="invalid-feedback">
                        {{ error }}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="acceptCgu" type="checkbox" value="" id="invalidCheckCgu" required>
                    <label class="form-check-label" for="invalidCheckCgu">
                        Accepter les <a href="/cgu">conditions générales d'utilisation</a>.
                    </label>
                    <div *ngFor="let error of cguErrors" class="invalid-feedback">
                        {{ error }}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <button *ngIf="loading else ready" class="btn btn-primary" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status"> Envoi en cours</span>
                </button>
                <ng-template #ready>
                    <button class="btn btn-primary" (click)="register()">Créer le compte</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>