.register-div {
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 20px;
  color: white;
}

.register-div .header h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.countryErrors {
  color: #dc3545;
}

.register-div {
  background: linear-gradient(to bottom, #3498db 10px, #28282B 10px);
  padding: 20px;
}

@media (max-width: 1400px) {
  .register-div {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .register-div {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .register-div {
    width: 95%;
  }
}

@media (max-width: 770px) {
  .register-div {
    width: 100%;
  }
}