<div class="container register-div">
    <div class="header">
        <h1>Création de compte</h1>
    </div>
    <div class="register-form">
        <div class="row g-3">
            <div class="col-md-5">
                <app-input-text
                        [label]="'Identifiant'"
                        [placeholder]="'Entrez votre identifiant'"
                        [id]="'usernameInput'"
                        [text]="username"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="usernameErrors"
                        (textChange)="username = $event"
                ></app-input-text>
            </div>

            <div class="col-md-7">
                <app-input-email
                        [formSent]="formSent"
                        [emailErrors]="emailErrors"
                        [isRequired]="true"
                        (emailChange)="email = $event"
                ></app-input-email>
            </div>

            <div class="col-md-12">
                <label for="validationCountry" class="form-label">Pays</label>
                <div class="input-group has-validation">
                    <mat-select-country
                            [required]="true"
                            appearance="fill"
                            id="validationCountry"
                            label="Pays"
                            [itemsLoadSize]="5"
                            (onCountrySelected)="onCountryChange($event)"
                            lang="fr">
                    </mat-select-country>
                </div>
                <div *ngFor="let error of countryErrors" class="countryErrors">
                    {{ error }}
                </div>
            </div>

            <div class="col-md-6">
                <app-input-secret
                        [label]="'Mot de passe'"
                        [placeholder]="'Entrez votre mot de passe'"
                        [id]="'passwordInput'"
                        [text]="password"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="passwordErrors"
                        (textChange)="password = $event"
                ></app-input-secret>
            </div>

            <div class="col-md-6">
                <app-input-secret
                        [label]="'Confirmation du mot de passe'"
                        [placeholder]="'Entrez votre mot de passe'"
                        [id]="'passwordInputConfirm'"
                        [text]="passwordConfirmation"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="passwordConfirmationErrors"
                        (textChange)="passwordConfirmation = $event"
                ></app-input-secret>
            </div>

            <div class="col-12">
                <app-input-checkbox
                        [label]="checkboxCGVText"
                        [id]="'invalidCheckCgv'"
                        [checked]="acceptCgv"
                        [required]="true"
                        [formSent]="formSent"
                        [checkboxErrors]="cgvErrors"
                        (onChange)="acceptCgv = $event"
                ></app-input-checkbox>
            </div>

            <div class="col-12">
                <app-input-checkbox
                        [label]="checkboxCGUText"
                        [id]="'invalidCheckCgu'"
                        [checked]="acceptCgu"
                        [required]="true"
                        [formSent]="formSent"
                        [checkboxErrors]="cguErrors"
                        (onChange)="acceptCgu = $event"
                ></app-input-checkbox>
            </div>

            <div class="col-12">
                <app-send-button
                        [loading]="loading"
                        [label]="'Créer le compte'"
                        (onClick)="register()"
                ></app-send-button>
            </div>
        </div>
    </div>
</div>
