<div class="container">
    <h1>Boutique - Paiement</h1>
    <p>Voici la liste de vos articles, vous pouvez payer sur cette page.</p>

    <div *ngIf="loadedUser">
        <div *ngIf="!currentUser" class="alert alert-danger" role="alert">
            Vous devez être connecté pour faire des achats.
            <a href="/user">Cliquez ici pour vous conencter.</a>
        </div>

        <div *ngIf="loadedMinecraft">
            <div *ngIf="currentUser && !minecraftAccount" class="alert alert-danger" role="alert">
                Vous n'avez pas de compte Minecraft lié. Vous devez lier un compte Minecraft pour faire des achats. <br/>
                <a href="/user">Cliquez ici</a> pour aller sur la page utilisateur et lier votre compte.
            </div>
            <div *ngIf="currentUser && minecraftAccount && !minecraftAccount.linked" class="alert alert-danger" role="alert">
                Vous n'avez pas confirmé la liaison de votre compte Minecraft. Vous ne pourrez pas faire d'achats tant que vous n'avez pas activé votre compte.<br/>
                <a href="/user">Cliquez ici</a> pour aller sur la page utilisateur et lier votre compte.
            </div>
        </div>
    </div>

    <h2>Total à payer</h2>
    <h3 class="price-container">{{ shopService.formatPrice(shopService.countTotalPrice()) }} €</h3>

    <div class="row">
        <div class="col-md-7 mb-2">
            <div class="bg-dark rounded-4 p-3">
                <app-shop-basket-list></app-shop-basket-list>
            </div>
        </div>

        <div class="col-md pb-5">
            <div class="bg-dark rounded-4 p-3">
                <h2 class="pb-3"><i class="bi bi-wallet2"></i> Moyens de paiement</h2>

                <div class="partners-payment">
                    <app-shop-payment-paypal></app-shop-payment-paypal>
                </div>
                <hr class="text-white">
                <div class="credit-card-payment">
                    <app-shop-payment-credit-card></app-shop-payment-credit-card>
                </div>
            </div>
        </div>
    </div>
</div>
