<div class="container">
    <h1>Boutique - Paiement</h1>
    <p>Voici la liste de vos articles, vous pouvez payer sur cette page.</p>

    <h2>Total à payer</h2>
    <h3 class="price-container">{{ shopService.formatPrice(shopService.countTotalPrice()) }} €</h3>

    <div class="row">
        <div class="col-md-7 mb-2">
            <div class="bg-dark rounded-4 p-3">
                <app-shop-basket-list></app-shop-basket-list>
            </div>
        </div>

        <div class="col-md">
            <div class="bg-dark rounded-4 p-3">
                <h2>Moyens de paiement</h2>

                <div class="row align-items-center justify-content-between w-50">
                    <button class="btn btn-success mb-2">
                        Paypal
                    </button>

                    <button class="btn btn-success">
                        PaysafeCard
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>