<div class="container form-content-div">
    <div class="header">
        <h1>Changement de mot de passe</h1>
    </div>
    <div class="login-form">
        <div class="row g-3">
            <div class="col-md-6">
                <app-input-secret
                        [label]="'Mot de passe'"
                        [placeholder]="'Entrez votre mot de passe'"
                        [id]="'passwordInput'"
                        [text]="password"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="passwordErrors"
                        (textChange)="password = $event"
                ></app-input-secret>
            </div>

            <div class="col-md-6">
                <app-input-secret
                        [label]="'Confirmation du mot de passe'"
                        [placeholder]="'Entrez votre mot de passe'"
                        [id]="'passwordInputConfirm'"
                        [text]="passwordConfirm"
                        [required]="true"
                        [formSent]="formSent"
                        [inputErrors]="passwordConfirmErrors"
                        (textChange)="passwordConfirm = $event"
                ></app-input-secret>
            </div>

            <div class="col-md-4">
                <app-send-button
                        [loading]="loading"
                        [label]="'Envoi de la demande'"
                        (onClick)="changePassword()"
                ></app-send-button>
            </div>
            <div class="col-md-3 align-self-center">
                <a [routerLink]="['/user', 'login']">Connexion</a>
            </div>
            <div class="col-md-5 align-self-center">
                <a [routerLink]="['/user', 'register']">Création de compte</a>
            </div>
        </div>
    </div>
</div>
