<section id="about-section" class="about-section">
  <div class="container">
    <div class="row text-center align-content-center">

      <div class="col">
        <img ngSrc="assets/img/accueil/dev-team.svg" [loading]="'lazy'" class="mb-2" alt="Equipe de développement de Pacifista illustré par une image" height="443" width="867">
        <h3>Développement fait maison</h3>
        <p>Le code source du serveur et de tout ce qui l’entoure est fait par nos équipes.
          Ce qui nous permet de suivre les tendances / envies de la communauté</p>
      </div>

      <div class="col">
        <img ngSrc="assets/img/accueil/staff-img.svg" [loading]="'lazy'" class="mb-2" alt="Pacifista possède une équipe à l'écoute des joueurs" height="531" width="525">
        <h3>Un staff réactif</h3>
        <p>Dans tous vos problèmes sur Pacifista ou toutes demandes spécifiques
          il y aura toujours une oreille attentive de l’équipe !</p>
      </div>

      <div class="col">
        <img ngSrc="assets/img/accueil/no-limit-modes-img.svg" [loading]="'lazy'" class="mb-2" alt="logo mondes" height="536" width="525">
        <h3>Des modes sans limites</h3>
        <p>Que ce soit dans notre mode de jeu survie, créatif ou bien plus encore,
          nous souhaitons que vous soyez libre dans votre créativité.</p>
      </div>

      <div class="col">
        <img ngSrc="assets/img/accueil/community-img.svg" [loading]="'lazy'" class="mb-2" alt="logo communauté" height="478" width="660">
        <h3>Communauté bienveillante</h3>
        <p>Avec nos plus de 4 ans d’expérience dans la gestion de communauté,
          nous détectons facilement les comportements toxiques et problématiques.
          Nous souhaitons vous offrir la plus agréable expérience de jeu possible</p>
      </div>

    </div>
  </div>
</section>
