<div class="container pb-4">
    <h1>Voter pour Pacifista</h1>
    <p class="w-50">
        Voter permet au projet d'être mieux référencé sur des listes de serveurs
        Minecraft et donc permet aux joueurs qui ne connaissent pas Pacifista de rejoindre le serveur !
        Merci de voter et de nous soutenir ❤️ !
    </p>

    <div class="row justify-content-around">
        <div class="col-md-8 pb-3">
            <div class="bg-dark p-3 rounded-3">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6">
                        <h2>Sélection du site de vote</h2>
                    </div>
                    <div class="col-md-3">
                        <a [routerLink]="['/vote']" fragment="vote-faq" class="btn btn-outline-info">
                            Un problème ?
                        </a>
                    </div>
                </div>

                <app-vote-user></app-vote-user>
            </div>
        </div>

        <div class="col-md-4 pb-4">
            <div class="card" style="width: 18rem;">
                <img ngSrc="assets/img/vote/box-vote-reward-logo.webp" priority="0" width="227" height="224" class="card-img-top p-3" alt="Image d'illustration de la récompense de vote pour Pacifista Minecraft.">
                <div class="card-header">
                    <span class="badge bg-success">🎁</span> Récompense par vote
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Une BOX Vote est offerte à chaque vote, elle contient des items et une possibilité de gagner des box payantes.<br/>
                        Rendez-vous sur le wiki concernant les box pour plus d'informations.<br/><br/>
                        <span class="badge bg-info">Pacifista +</span> Une box supplémentaire est offerte pour les membres Pacifista+.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="pb-2">
        <h2>Top 50 des meilleurs voteurs</h2>
        <app-vote-top-classement></app-vote-top-classement>
    </div>

    <hr>

    <section id="vote-faq">
        <h2>Comment fonctionne le vote ?</h2>
        <ul class="list-group">
            <li class="list-group-item">Pour voter, il suffit de vous connecter sur le site, choisir ensuite parmi les sites de vote disponibles et voter sur le site choisi.</li>
            <li class="list-group-item">Une fois le vote effectué, vous recevrez une récompense en jeu, une box vote, qui contient des items et une possibilité de gagner des box payantes.</li>
            <li class="list-group-item">Le système se base sur votre adresse IP pour voter.</li>
            <li class="list-group-item">Si vous êtes à plusieurs sur la même connexion vous ne pourrez voter que pour un seul compte Minecraft.</li>
            <li class="list-group-item">Le classement des votes sont réinitialisés tous les mois, le classement est remis à zéro et les récompenses sont réinitialisées.</li>
        </ul>

        <h2 class="pt-2">Mon vote ne marche pas, que faire ?</h2>
        <p>Les sites de votes ne prennent pas en charge les nouvelles addresses ip (les ipv6). Vous devez donc désactiver les ipv6 sur votre ordinateur.</p>
        <p>Si vous votez avec un téléphone, il se peut que les votes ne fonctionnent pas bien en 4G à cause des ipv6.</p>

        <h3>Désactiver les ipv6 sur Windows</h3>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">Cliquez sur le bouton Démarrer et tapez "Panneau de configuration".</li>
            <li class="list-group-item">Sélectionnez Panneau de configuration dans les résultats.</li>
            <li class="list-group-item">Allez dans Réseau et Internet.</li>
            <li class="list-group-item">Ensuite, sélectionnez Centre Réseau et partage.</li>
            <li class="list-group-item">Dans le menu de gauche, cliquez sur Modifier les paramètres de la carte.</li>
            <li class="list-group-item">Faites un clic droit sur l'adaptateur réseau que vous utilisez (par exemple, Ethernet ou Wi-Fi).</li>
            <li class="list-group-item">Sélectionnez Propriétés dans le menu contextuel.</li>
            <li class="list-group-item">Dans la liste des éléments, décochez la case à côté de Protocole Internet version 6 (TCP/IPv6).</li>
            <li class="list-group-item">Cliquez sur OK pour enregistrer les modifications.</li>
            <li class="list-group-item">Redémarrer votre PC pour que les changements prennent effet.</li>
        </ol>

        <h3 class="pt-2">Désactiver les ipv6 sur MacOS</h3>
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">Cliquez sur le logo Apple en haut à gauche de votre écran.</li>
            <li class="list-group-item">Sélectionnez Préférences Système.</li>
            <li class="list-group-item">Cliquez sur Réseau.</li>
            <li class="list-group-item">Dans la barre latérale, sélectionnez l'interface réseau que vous utilisez (par exemple, Wi-Fi ou Ethernet).</li>
            <li class="list-group-item">Dans la barre latérale, sélectionnez l'interface réseau que vous utilisez (par exemple, Wi-Fi ou Ethernet) et cliquez sur détails.</li>
            <li class="list-group-item">Allez dans l'onglet TCP/IP.</li>
            <li class="list-group-item">À côté de "Configurer IPv6", sélectionnez Manuellement ou Désactivé dans le menu déroulant.</li>
            <li class="list-group-item">Cliquez sur OK, puis sur Appliquer dans la fenêtre précédente pour enregistrer les paramètres.</li>
            <li class="list-group-item">Redémarrer votre Mac si nécessaire pour que les modifications prennent effet.</li>
        </ol>
    </section>

</div>
