$bg_color: #153144;
$main_color: #2CAFFF;
$secondary_color: #60A3D9;
$tertiary_color: #0074B7;

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Outfit';
  src: url("assets/fonts/outfit/Outfit-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url("assets/fonts/outfit/Outfit-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}
