@import "pacifista_variables";

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Functions first
@import "bootstrap/scss/functions";

// Required Bootstrap imports
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Optional components
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

@import "scrollbar";

* {
  font-family: 'Roboto', sans-serif !important;
}

p {
  color: #dcdcdc;
}

h1, h2, h3, h4, h5 {
  font-family: 'Outfit', sans-serif !important;
  color: white;
}

h4 {
  font-size: 20px;
}

a {
  color: #54b8ff;
  text-decoration: none;
}

body {
  background-color: $bg_color;
}

.pacifista-btn {
  background-color: $main_color;
  border: 0;
  border-radius: 20px;
  box-shadow: none;
  padding: 7px 25px;
}

.pacifista-btn:hover {
  background-color: $secondary_color;
  color: black;
}

.pacifista-btn:active {
  background-color: $tertiary_color;
  color: black;
}
