$bg_color: #153144;
$main_color: #2CAFFF;
$secondary_color: #60A3D9;
$tertiary_color: #0074B7;

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/roboto/Roboto-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Outfit';
  src: url("assets/fonts/outfit/Outfit-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url("assets/fonts/outfit/Outfit-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Functions first
@import "bootstrap/scss/functions";

// Required Bootstrap imports
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// Optional components
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

p {
  font-family: 'Roboto', sans-serif !important;
  color: #BBBBBB;
}

h1, h2, h3, h4, h5 {
  font-family: 'Outfit', sans-serif !important;
  color: white;
}

h4 {
  font-size: 15px;
}

a {
  text-decoration: none;
}

body {
  background-color: $bg_color;
}
