@use "pacifista_variables" as *;

* {
  font-family: 'Roboto', sans-serif !important;
}

p {
  color: #dcdcdc;
}

h1, h2, h3, h4, h5 {
  font-family: 'Outfit', sans-serif !important;
  color: white;
}

h4 {
  font-size: 20px;
}

a {
  color: $main_color;
  text-decoration: none;
}

body {
  background-color: $bg_color;
}

.pacifista-btn {
  background-color: $main_color;
  border: 0;
  color: black;
  border-radius: 20px;
  box-shadow: none;
  padding: 7px 25px;
}

.pacifista-btn:hover {
  background-color: $secondary_color;
  color: black;
}

.pacifista-btn:active {
  background-color: $tertiary_color;
  color: black;
}

.pacifista-btn-little {
  background-color: $main_color;
  border: 0;
  border-radius: 10px;
  box-shadow: none;
  padding: 4px 15px;
}

.pacifista-btn-little:hover {
  background-color: $secondary_color;
  color: black;
}

.pacifista-btn-little:active {
  background-color: $tertiary_color;
  color: black;
}
