.success-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.thanks-buy-div {
  background-image: url('../../../../assets/img/accueil/bg_build.webp');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}