@import "../../../../../pacifista_variables";
@import "../../accueil.component";

.welcome-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  z-index: 1;
}

.container-welcome {
  text-align: center;
  position: absolute;
}

.player-amount {
  color: $main_color;
  font-weight: bold;
}

.website-title {
  font-weight: bold;
  color: $main_color;
}

.actions-buttons {
  padding-top: 5%;
}

.about-section-more {
  background-color: #18415C;
}

.actions-buttons button {
  background-color: $main_color;
  border: 0;
  color: black;
}

.actions-buttons button:hover {
  background-color: $secondary_color;
  color: black;
}

/* If the screen size is 601px wide or more */
@media screen and (min-width: 850px) {
  .website-title {
    font-size: 200px;
  }

  .actions-buttons button {
    border-radius: 30px;
    box-shadow: none;
    padding: 17px 35px;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 850px) {
  .website-title {
    font-size: 80px;
  }

  .actions-buttons button {
    border-radius: 30px;
    box-shadow: none;
    padding: 10px 25px;
  }
}

@media screen and (max-width: 360px) {
  .actions-buttons button {
    font-size: 13px;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 40%;
  z-index: -1;
}

.background-image img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .background-image img {
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-image img {
    width: 177.78vh;
  }
}
