<section class="welcome-section">
  <div class="container-welcome">
    <h1 class="website-title">Pacifista</h1>
    <h2>Le serveur Minecraft au plus proche de sa communauté.</h2>
    <h3><span class="player-amount">{{ playersAmount }}</span> joueurs en ligne</h3>
    <h4>play.pacifista.fr</h4>

    <div class="container actions-buttons">
      <div class="row justify-content-md-center">
        <div class="col col-lg-3">
          <a href="#about-section">
            <button class="btn">
              À propos
            </button>
          </a>
        </div>

        <div class="col col-lg-3">
          <a href="/join">
            <button class="btn">
              Se connecter
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="background-image">
    <img ngSrc="assets/img/accueil/bg_build.webp" [loading]="'lazy'" height="1080" width="1920" alt="Minecraft wallpaper bateau shaders background serveur minecraft survie claim">
  </div>
</section>
