<div class="card bg-dark">
    <div class="card-body">
        <h2 class="card-title">Infos sur : {{ article.name }}</h2>
        <h3 class="card-subtitle mb-2 price-container">{{ shopService.formatPrice(article.priceWithTax) }} €</h3>
        <h4 class="card-subtitle mb-2">{{ article.description }}</h4>
        <hr>
        <div class="card-text" [innerHTML]="article.htmlDescription"></div>

        <div class="row justify-content-around">
            <button class="col col-md-3 btn btn-danger" (click)="activeModal.close('Close click')">
                Fermer
            </button>
        </div>
    </div>
</div>
