name: Build production

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build-docker-image-production:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU (for cross-building)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/pacifistamc/pacifista-website:latest

  update-kubernetes-cluster:
    needs:
      - build-docker-image-production

    runs-on:
      - self-hosted
      - k3s-funixproductions

    environment:
        name: production
        url: https://pacifista.fr

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Update Kubernetes Cluster
        run: cd kubernetes && chmod +x ./deploy.sh && ./deploy.sh
